{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 4],
    "import/prefer-default-export": "off",
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "jsx-a11y/label-has-associated-control": 0,
    "default-case": 0,
    "max-len": ["error", { "code": 120 }],
    "no-plusplus": "off",
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "default-param-last": 0,
    "camelcase": 0,
    "react/forbid-prop-types": 0,
    "react/button-has-type": 0,
    "no-alert": 0
  }
}
