@mixin font-face($font-weight-number, $font-weight-name) {
    $url: "../fonts/Montserrat-#{$font-weight-name}.ttf";

    @font-face {
        font-family: Montserrat;
        font-style: normal;
        font-weight: $font-weight-number;
        font-display: swap;
        src: url($url) format("truetype");
    }
}

@include font-face(300, "Light");
@include font-face(400, "Regular");
@include font-face(500, "Medium");
@include font-face(600, "SemiBold");
