html {
    overflow: hidden;
}

body {
    font: normal normal 1rem/20px var(--font-family--primary);
    color: var(--color--hex-white);
    background: var(--color--hex-mine-shaft);
}

a {
    color: var(--color--hex-white);
}

.c-showcase {
    height: 100vh;
    overflow: auto;
    padding: var(--space--8);
    box-sizing: border-box;
}
